/* almarai-300 - arabic */
@font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/almarai-v2-arabic-300.eot');
    /* IE9 Compat Modes */
    src: local('Almarai Light'), local('Almarai-Light'),
        url('../fonts/almarai-v2-arabic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/almarai-v2-arabic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/almarai-v2-arabic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/almarai-v2-arabic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/almarai-v2-arabic-300.svg#Almarai') format('svg');
    /* Legacy iOS */
}

/* almarai-700 - arabic */
@font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/almarai-v2-arabic-700.eot');
    /* IE9 Compat Modes */
    src: local('Almarai Bold'), local('Almarai-Bold'),
        url('../fonts/almarai-v2-arabic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/almarai-v2-arabic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/almarai-v2-arabic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/almarai-v2-arabic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/almarai-v2-arabic-700.svg#Almarai') format('svg');
    /* Legacy iOS */
}

/* almarai-800 - arabic */
@font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/almarai-v2-arabic-800.eot');
    /* IE9 Compat Modes */
    src: local('Almarai ExtraBold'), local('Almarai-ExtraBold'),
        url('../fonts/almarai-v2-arabic-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/almarai-v2-arabic-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/almarai-v2-arabic-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/almarai-v2-arabic-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/almarai-v2-arabic-800.svg#Almarai') format('svg');
    /* Legacy iOS */
}

/* almarai-regular - arabic */
@font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/almarai-v2-arabic-regular.eot');
    /* IE9 Compat Modes */
    src: local('Almarai'), local('Almarai-Regular'),
        url('../fonts/almarai-v2-arabic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/almarai-v2-arabic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/almarai-v2-arabic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/almarai-v2-arabic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/almarai-v2-arabic-regular.svg#Almarai') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    background-color: #f7f9fb;
}

header {
    position: relative;
    background-color: #fff;
    color: #fff;
    height: 45px;
    display: flex;
    /* justify-content: space-between; */
}
svg{
    cursor: pointer;
}
.logo {
    width: 210px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background: rgb(255, 69, 140);
    background: linear-gradient(90deg, rgba(255, 69, 140, 1) 33%, rgba(183, 89, 182, 1) 100%);
}

.burger__menu {
    flex-grow: 1;
}

.svg-icon {
    cursor: pointer;
    margin-right: 15px;
    transform: translateY(50%);
    width: 45px;
    height: 22px;
    cursor: pointer;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ce7ab9;
}

.svg-icon circle {
    stroke: #ce7ab9;
    stroke-width: 1;
}

.control__panel {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin-right: 28px;
    margin-top: 2px;
}

.panel {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.settings{
    margin-top: 3px;
}